# Dependencies - This is the most important one!
node_modules/

# Mac system files
.DS_Store

# Environment variables (for security)
.env

# Logs
*.log
npm-debug.log*

# Local executables (So you don't upload the tunnel tool)
ngrok.exe
ngrok